/* :root {
  --primary-100: #ffd700;
  --primary-200: #ddb900;
  --primary-300: #917800;
  --accent-100: #c49216;
  --accent-200: #5e3b00;
  --text-100: #dcdcdc;
  --text-200: #929292;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
} */

#theme {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20px;
  right: 30px;
  z-index: 10;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#themeBtn {
  background-color: var(--bg-200);
  box-shadow: 1px 1px 2px 0 var(--bg-300);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#themeList {
  display: none;
  background-color: var(--bg-200);
  box-shadow: inset 1px 1px 2px 0 var(--bg-300);
  max-height: 130px;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#themeBtn,
#themeList li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#themeBtn:hover,
#themeList li:hover {
  background-color: var(--bg-300);
  cursor: pointer;
}

#theme span {
  margin-left: -10px;
  order: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#theme span:first-child {
  margin-left: 0;
}
